<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1012058349098-jr8oi611hmdsveapn22dssd4751rgku6</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1012058349098-jr8oi611hmdsveapn22dssd4751rgku6.apps.googleusercontent.com</string>
</dict>
</plist>
