@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --text-rgb: 51, 51, 51;
  }
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}
